@import "globals.css";
@import "variables.css";
@import "utils.css";

.experience {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.experience__title  {
  text-transform: uppercase;
  color: var(--color-gray-light);
  line-height: 150%;
}

.experience__body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.experience-card {
  display: flex;
  flex-direction: column;
}

.experience-card__description {
  margin-top: 22px;
}