:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #181823;
  --color-gray-light: #deecf9;
  --color-gray-dark: #c7e0f4;
  --color-blue: #5221e6;
  --color-green: #3cc74e;
  --color-pink: #e95d90;
  --color-peach: #fff3e4;
  --color-violet: #fbe4ff;

  --section-padding-block: 120px;

  --container-width: 1296px;
  --container-padding-inline: 16px;
}

a {
  color: var(--color-white);
}
